#pdf-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-direction: column;
 }
 
 .buttons button{
   width: 300px;
   min-height: 100px;
   background-color: rgb(255, 255, 255);
   border: 1px solid #ccc;
   margin: 20px 0;
   padding: 10px;
 }
 .pdfViewer {
  position: relative;
  height: 90vh;
  overflow: auto;
  padding: 10px;
}